h1 {
    color:white;
    text-align: center;
}
#image{
    width: 100%;
    border: 5px solid white;
  }
  .libre-baskerville-regular { color:white;
font-family: "Libre Baskerville", serif;
font-weight: 400;
font-style: normal;
text-align: center;
}
.main{
margin-top: 50px;
width: 50%;
margin-left: 25%;
}